@media screen and (max-width: 768px){
    body {
        height: calc(100vh + 30%);
    }
    .containerInput {
        flex-direction: column;
        gap: 5px;
        margin: 10px;
    }
    .priceTotal {
        bottom: 10px;
        font-size: 1.2rem;
    }
}